.title-bar{
  background: #e35557;
  color: #fff;

}



//create a subtitle element for title-bar
//apply  font size, and font-weight 400,
//apply

.title-bar__subtitle{
  font-size:1.3rem;
  font-weight: 400;
}